h1 {
  text-align: left;
}

.centered-div {
  width: auto;
  margin: 0 auto;
  background-color: #2f2c2c;
  padding: 20px;
}

.img-container {
  width: 50px;
  height: 50px;
}

.navbar-toggler {
  border-color: rgb(255, 255, 255);
}